.recommend{
    width: 100% !important;
    margin: 30px auto !important;
}
.content-list{
	background-color: rgb(252, 252, 252);
	display:inline-block;
	vertical-align:top;
	width:66%;
}

.essence{
	width:100%;
	margin:20px 2% 0;
	float:right;
	display:inline-block;
	vertical-align:top;
	background-color: #ffffff;;
	padding:16px 18px;
}
.content-item{
	background-color: #ffffff;
	margin-top:10px;
	padding:20px 20px 1px;
    border-radius: 5px;
}
.content-item h3{
	margin-bottom: 8px;
}
.content-item .titleTips span a{
    font-family:"微软雅黑";
	color: #989898;
    font-size:1em;
}
.titleTips .dian{
 margin:0 3px;
 font-size:8px;
 font-weight:700;
 display:inline-block;
}
.word{
    min-height:30px;
    display: block;
	line-height:1.6;
    overflow: hidden;
    text-overflow: ellipsis;
}
p a{color: #9fc1ff
}
.content-item  .people{
	margin-bottom:8px !important;
}
.wen-content{
width: 100%;height: auto;background: #ffffff;
}
.content-item-img{
	width:15%;
	float:left;
	margin-left:4%;
	height:auto;
}
.content-item-inforImg{
		width:100%;
	display:inline-block;
}


.people-img{
	width:30px !important;
	height:30px !important;
	margin-right:4px;
}
.people-name a{
	color: #333333;
	font-size:12px;
	font-weight:600;
}
.people-belong a{
	color: #686868;
	width:33%;
	display:inline-block;
	vertical-align:middle;
	margin-top:-3px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
    letter-spacing:1px;
}
.operation{
    /*position: relative;*/
    clear:both;
	color:#c8c8c8;
	margin:10px 0 0;
}
.operation span {
	margin-right:12px;
	cursor:pointer;
}
.operation icon{
	margin-right:4px;
}
.essence-title{
	font-size:15px;
}
.essence-title span{
	float:right;
	cursor:pointer;
}
.lineBox{
	width:100%;
	height:2px;
	position:relative;
	margin-top: 15px;
	background-color:#e9e9e9;
	overflow: hidden;
}
.lineBox:before{
	content:"";
	display:inline-block;
	position:absolute;
	left: -10px;
	top: 0;
	width:32%;
	height:100%;
	background-color:#e27153;
	border-right: solid 5px #f8f8f8;
	-webkit-transform: skewX(45deg);
	-moz-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	-o-transform: skewX(45deg);
	transform: skewX(45deg);
}
.essence-item{
	margin-top:10px;
}
.essence-item h5{
	font-size:14px;
	padding:12px 2px;
	margin-bottom:0;
	line-height:1.5;
}
.essence-people  .praise a{
	float:right;
	line-height:30px;
	color: #757575;
	font-size:12px;
	font-weight:500;
	margin-bottom:12px;
}
.word-1{width:75%;float:left; }

.wordImg{
    height: 60px;
	width:60%;
	display:inline-block !important;
}
.essence-word{

    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.wan_vip{
	width:14px;
	height:14px;
}
.essence-img{
	width:35%;
	float:right;
	margin-left:3%;
	height:60px;
}
.index-right{width:32%;
    margin:1%;
    float:left;
    background-color: #F8F8F8;}
.index-right .essence-1{
    background: #ffffff;padding:5%;
}
.tank{
    background: #ffffff;

    box-shadow: 0 0 10px #E0E0E0;
    width:100px;
    min-height:60px;
    position:absolute;
    top:-4px;
    left:-120px;
    z-index: 666;
    border-radius: 3px;
}
.tank ul li{margin-top:6px;text-align:center;font-size: 1em}
.tank ul li:hover{color:#ff7522;}
